  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500&display=swap');

header {
    margin-top: 40px;
    margin-left: 40px;

}
.logo {
    width: 120px;
    height: 48px;

    text-align: center;
    
}

.imagem{
    width: 50px;
    height: 50px;    
}

.entrada-dados{
    width: 685px;
    background-color: #cccccc;
    margin-top: 80px;
}


#texto-entrada, .area-texto{
   display: inline;
   width: 95%;
   border-radius: 25px;
}
.aviso{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.botoes{
    
}

.aviso, .botoes{
    margin-top: 15px;
}

.criptografar{
    margin-right: 24px;
    background: #5c101c;
    border: none;
}

.descriptografar{
    background: #9b1b30;
    border: #5c101c;
}

.criptografar, .descriptografar{
    width: 328px;
    height: 72px;

    border-radius: 24px;
    padding: 24px;
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;

    cursor: pointer;
}

