  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500&display=swap');

body{
    background-color: #f3f5fc;
    padding: 40px;
}
.logo {
    width: 120px;
    height: 48px;

    text-align: center;
    
}

.imagem{
    width: 50px;
    height: 50px;    
}

main{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

}
.input{
    /*padding: 80px;
    display: inline-block;
    margin-left: 80px;
    background-color: #cccccc;*/
    position: absolute;
    left: 240px;
    padding: 80px 0 60px;
    box-sizing: border-box;
}

.entrada-dados{
    display: inline-block;
    
    

}


#texto-entrada{
    display: inline-block;
    width: 680px;
    height: 300px;
    border-radius: 25px;

    /*margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;*/
    padding: 20px;
    box-sizing: border-box;
    background-color: #f3f5fc;
    border-color: #f3f5fc;

    outline: none;

    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;

    margin-top: 50px;
}
.aviso{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;

    margin-top: 50px;
}

.botoes{
    margin-top: 15px;
}

.criptografar{
    margin-right: 24px;
    background: #5c101c;
    border: none;
}

.descriptografar{
    background: #9b1b30;
    border: #5c101c;
}

.criptografar, .descriptografar{
    width: 328px;
    height: 72px;

    border-radius: 24px;
    padding: 24px;
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;

    cursor: pointer;
}


aside{
    position: absolute;
    width: 400px;
    height: 620px;
    top: 85px;
    left: 1000px;

    text-align: center;

    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;



}

.aside{
    display: inline-block;
    text-align: center;

    margin: 50px 32px;
    box-sizing: border-box;
}

.textos-aside{
    width: 336px;
    height: 140px;

    text-align: center;
    display: inline-block;
    margin-top: 16px;
}

.titulo-aside{
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
}

.subtitulo-aside{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}